<%
=begin
  This is a template for generating a listing of Page objects.

  The following variables are available for use in this template:
  * BLOG        => data from the blog configuration file
  * LANG        => interface to translation file
  * ENTRIES     => an array of all available blog entries
  * TAGS        => a Chapter containing one Page per tag
  * ARCHIVES    => a Chapter containing one Page per archive
  * CHAPTERS    => an array of Chapter objects
  * @chapter    => a Chapter for which we are generating HTML
=end
%>
<h1><%= LANG[@chapter.name] %></h1>

<ul class="cloud">
<%
  # these variables define how
  # big the largest item appears
  scale, units = 300, '%'


  largest = @chapter.pages.map {|p| p.entries.length}.max

  @chapter.pages.each do |page|
    size = page.entries.length
    mass = ((size.to_f / largest) * scale).round
%>
  <li style="font-size: <%= mass %><%= units %>;" title="<%= size %>"><%= page.to_link %><span style="display: none">&nbsp;(<%= size %>)</span></li>
<% end %>
</ul>
