<%
=begin
  This is a template for generating a listing of Section objects.

  The following variables are available for use in this template:
  * BLOG        => data from the blog configuration file
  * LANG        => interface to translation file
  * ENTRIES     => an array of all available blog entries
  * TAGS        => a Chapter containing one Section per tag
  * ARCHIVES    => a Chapter containing one Section per archive
  * CHAPTERS    => an array of Chapter objects
  * @chapter    => the Chapter for which we are generating HTML
=end
%>
<h1><%= LANG[@chapter.name] %></h1>

<ul class="cloud">
<%
  fonts = %w[xx-small x-small small medium large x-large xx-large]
  scale = fonts.length - 1

  largest = @chapter.sections.map { |section| section.entries.length }.max

  @chapter.sections.each do |section|
    size = section.entries.length
    mass = size.to_f / largest
    font = fonts[ (mass * scale).round ]
%>
  <li style="font-size: <%= font %>;" title="<%= size %>">
    <%= section.to_link %> <span style="display: none">(<%= size %>)</span>
  </li>
<% end %>
</ul>

<br/>

<%
  byName = @chapter.sections.sort_by { |section| section.name }
  bySize = @chapter.sections.sort_by { |section| section.entries.length }
%>
<table>
  <tr>
    <th colspan="2">Sorted by name</th>
    <th colspan="2">Sorted by size</th>
  </tr>
  <tr>
    <th>&darr;Name</th>
    <th>Size</th>
    <th>Name</th>
    <th>&darr;Size</th>
  </tr>
  <% @chapter.sections.each_index do |i| %>
  <tr>
    <td><%= byName[i].to_link %></td>
    <td><%= byName[i].entries.length %></td>
    <td><%= bySize[i].to_link %></td>
    <td><%= bySize[i].entries.length %></td>
  </tr>
  <% end %>
</table>
