<%
=begin
  This is a template for generating HTML for a blog entry.

  The following variables are available for use in this template:
  * BLOG        => data from the blog configuration file
  * @entry      => the Entry for which we are generating HTML
=end

  text = @entry.text

  if text.respond_to? :table_of_contents
    toc, text = text.table_of_contents
  end
%>
<div class="entry">
  <h1 class="name"><%= @entry.to_link %></h1>

<% if toc and !toc.empty? %>
  <div class="toc">Contents <%= toc.to_html %></div>
<% end %>

  <div class="text"><%= text.to_html %></div>

  <div class="info">
    Written on <%= @entry.archive.to_link(@entry.date.strftime("%c")) %> as <%= @entry.tags.map {|t| t.to_link}.join ', '
    %>.
<% if BLOG.email %>
    Send <a href="<%= @entry.comment_url %>">comments</a>.
<% end %>
  </div>
</div>
