<%
=begin
  This is a template for generating HTML for a blog entry.

  The following variables are available for use in this template:
  * BLOG        => data from the blog configuration file
  * LANG        => interface to translation file
  * @entry      => the Entry for which we are generating HTML
  * @summarize  => indicates whether the entry should be summarized
=end

  text = @entry.text.to_html

  # summarize the entry
  if @summarize
    paragraphs = text.split(/(?:\r?\n){2,}/m)

    if paragraphs.length > 1
      text = paragraphs.first
      text << @entry.to_link(LANG["Read more..."])
    end

  # generate the table of contents
  elsif text.respond_to? :table_of_contents
    toc, text = text.table_of_contents(@entry.object_id)
  end
%>
<div class="entry">
  <h1 class="name"><%= @entry.to_link %></h1>

<% if toc and !toc.empty? %>
  <div class="toc">Contents <%= toc %></div>
<% end %>

  <div class="text"><%= text %></div>

<% unless @summarize %>
  <div class="info">
    Written on <%= @entry.archive.to_link @entry.date.strftime("%c") %>.
    <br/>
    Tagged as <%= @entry.tags.map {|t| t.to_link}.join(', ') %>.
  <% if BLOG.email %>
    <br/>
    You may <a href="<%= @entry.comment_url %>">comment on this entry</a>.
  <% end %>
  </div>
<% end %>
</div>

<!-- improves usability in text-mode browsers -->
<hr style="display: none"/>
