<%
=begin
  This is a template for generating HTML for a blog entry.

  The following variables are available for use in this template:
  * BLOG        => data from the blog configuration file
  * LANG        => interface to translation file
  * @entry      => the Entry for which we are generating HTML
=end

  text = @entry.text

  # generate table of contents if possible
    if text.respond_to? :table_of_contents
      index, text = text.table_of_contents
    end

  # evaluate ERB directives within the entry
    text = ERB.new(text).result
%>
<div class="entry">
  <h1 class="name"><%= @entry.to_link %></h1>

<% if index and !index.empty? %>
  <div id="index" class="index">Contents <%= index.to_html %></div>
<% end %>

  <div class="text"><%= text.to_html %></div>

  <div class="info">
    Written on <%= @entry.archive.to_link @entry.date.strftime("%c") %>.
    <br/>
    Tagged as <%= @entry.tags.map {|t| t.to_link}.join(', ') %>.
<% if BLOG.email %>
    <br/>
    You may <a href="<%= @entry.comment_url %>">comment on this entry</a>.
<% end %>
  </div>
</div>
