<%
=begin
  This is a template for generating HTML for a blog entry.

  The following variables are available for use in this template:
  * BLOG        => data from the blog configuration file
  * LANG        => interface to translation file
  * @entry      => the Entry for which we are generating HTML
  * @summarize  => indicates whether the entry should be summarized
=end

  text = @entry.text.to_html

  if @summarize
    paragraphs = text.split(/(?:\r?\n){2,}/m)

    # summarize the entry by retaining only the first paragraph
    if paragraphs.length > 1
      text = paragraphs.first

      hook = '<p>' + @entry.to_link(LANG["Read more..."]) + '</p>'
      text << hook
    end

  # generate the table of contents
  else
    toc, text = text.table_of_contents
  end
%>
<div class="entry">
  <h1 class="name"><%= @entry.to_link %></h1>

<% if toc %>
  <div class="toc">Contents <%= toc %></div>
<% end %>

  <div class="text"><%= text %></div>

<% unless @summarize %>
  <div class="info">
    Written on <%= @entry.archive.to_link(@entry.date.strftime("%c")) %>.
    <br/>
    Tagged as <%= @entry.tags.map {|t| t.to_link}.join(', ') %>.
  <% if BLOG.email %>
    <br/>
    You may <a href="<%= @entry.comment_url %>">comment on this entry</a>.
  <% end %>
  </div>
<% end %>
</div>

<!-- improves usability in text-mode browsers -->
<hr style="display: none"/>
