<%
=begin
  This is a template for generating HTML for a blog entry.

  The following variables are available for use in this template:
  * BLOG        => data from the blog configuration file
  * LANG        => interface to translation file
  * @entry      => the Entry for which we are generating HTML
  * @summarize  => indicates whether the entry should be summarized
=end

  text = @entry.text.to_html

  if @summarize
    paragraphs = text.split(/(?:\r?\n){2,}/m)

    # omit headings from summary to keep it simple and non-hierarchical
    paragraphs.reject! {|p| p =~ /^\s*<h\d/}

    if paragraphs.length > 1
      text = paragraphs.first
      reallySummarized = true
    end
  else
    toc, text = text.table_of_contents
  end
%>
<div class="entry">
  <h1 class="name"><%= @entry.to_link %></h1>

  <p class="related">&raquo; <%=
    [@entry.archive, *@entry.tags].map {|t| t.to_link}.join(' &middot; ')
  %></p>

<% if toc %>
  <div class="toc">Contents <%= toc %></div>
<% end %>

  <div class="text"><%= text %></div>

<% if @summarize %>
  <p><%= @entry.to_link(LANG["Read more..."]) if reallySummarized %></p>
<% else %>
  <div class="info">
    Written on <%= @entry.archive.to_link(@entry.date.strftime("%c")) %>.
    <br/>
    Tagged as <%= @entry.tags.map {|t| t.to_link}.join(', ') %>.
  <% if BLOG.email %>
    <br/>
    You may <a href="<%= @entry.comment_url %>">comment on this entry</a>.
  <% end %>
  </div>
<% end %>
</div>

<!-- improves usability in text-mode browsers -->
<hr style="display: none"/>
