<%
=begin
  This is a template for generating HTML for a blog entry.

  The following variables are available for use in this template:
  * BLOG        - data from the blog configuration file
  * LANG        - data from the translation file
  * ENTRIES     - array of all blog entries (Entry objects)
  * NEW_ENTRIES - array of recent blog entries (Entry objects)
  * TAGS        - array of all tags (Section objects)
  * ARCHIVES    - array of all archives (Section objects)
  * FEEDS       - array of all feeds (Feed objects)
  * @entry      - the Entry object for which we are generating HTML
  * @summarize  - should this entry be summarized?
  * @solo       - is this entry being rendered alone, on its own page?
=end

  content = @entry.html

  if @summarize and summary = @entry.summary
    # fragment links should take you inside the full (non-summarized) entry
    content = summary.gsub %r{(href=.)(#)} do
      $1 + @entry.url + $2
    end
  else
    # check whether we want to generate the table of contents
    generateTOC =
      if @entry.key? 'generate_toc'
        @entry['generate_toc']
      else
        BLOG.generate_toc
      end

    if generateTOC
      toc, content = content.table_of_contents
    end
  end
%>
<div class="entry<%= %{ entry-solo} if @solo %>">
  <%
    if @solo and not @entry.hide?
      nextWord = LANG['Newer']
      prevWord = LANG['Older']

      # these are inverse because ENTRIES is
      # sorted in *reverse* chronological order
      nextItem = @entry.prev
      prevItem = @entry.next

      prevLink = prevItem.to_link(prevWord) if prevItem
      nextLink = nextItem.to_link(nextWord) if nextItem
  %>
  <div class="menu"><%= [prevLink, nextLink].compact.join(' | ') %></div>
  <% end %>

  <h1 class="name"><%=
    if @solo
      @entry.name.to_html
    else
      @entry.to_link
    end
  %></h1>

  <% if toc %>
  <div class="toc">Contents <%= toc %></div>
  <% end %>

  <div class="text"><%= content %></div>

  <% if summary %>
  <p class="more"><%= @entry.to_link(LANG["Read more..."]) %></p>
  <% end %>

  <p class="info">
    Written on <%=
      stamp = @entry.date.strftime("%c")

      if @entry.hide?
        stamp
      else
        @entry.archive.to_link(stamp)
      end
    %>.

    <% unless @entry.tags.empty? %>
    <br/>
    Tagged as <%= @entry.tags.map {|t| t.to_link}.join(', ') %>.
    <% end %>

    <% if BLOG.email %>
    <br/>
    You may <a href="<%= @entry.comment_url %>">send comments</a>.
    <% end %>
  </p>
</div>

<hr style="display: none"/>
