<%
# = List of available variables
# * @blog   => data from the blog configuration file
# * @entry  => data from a blog entry file

  text = @entry.text

  if text.respond_to? :table_of_contents
    toc, text = text.table_of_contents
  end
%>

<div class="entry">

h1(name). <%= @entry.to_link %>

<% if toc and !toc.empty? %>
  <div class="toc">
    Contents

<%= toc %>

  </div>
<% end %>

  <div class="text">

<%= text.to_html %>

  </div>

  <p class="info">
    Posted on <%= @entry.date.rfc822 %>.
    <br/>
    Tagged as <%= @entry.tags.map {|t| t.to_link}.join ', ' %>.
  </p>
</div>
