<%
=begin
  This is a template for generating the RSS feed for the blog.

  The following variables are available for use in this template:
  * BLOG        - data from the blog configuration file
  * LANG        - data from the translation file
  * ENTRIES     - array of all blog entries (Entry objects)
  * NEW_ENTRIES - array of recent blog entries (Entry objects)
  * TAGS        - array of all tags (Section objects)
  * ARCHIVES    - array of all archives (Section objects)
  * FEEDS       - array of all feeds (Feed objects)
  * @feed       - the feed for which we are generating output
=end
%>
<?xml version="1.0" encoding="<%= BLOG.encoding %>"?>
<rss version="2.0">
<channel>
  <title><%=h @feed.name.to_html %></title>
  <link><%= BLOG.url %></link>
  <% if @feed.info %>
  <description><%=h @feed.info.to_html %></description>
  <% end %>
  <language><%=h BLOG.language %></language>
  <lastBuildDate><%= Time.now.rfc822 %></lastBuildDate>
  <generator><%= Rassmalog %></generator>
<%
  @feed.entries.each do |entry|
    url = entry.absolute_url
    text = (@feed.summarize ? entry.summary : entry.html).to_s

    # resolve relative URLs into absolute URLs
    # see http://en.wikipedia.org/wiki/URI_scheme#Generic_syntax
    text.gsub! %r{(href=|src=)(.)(.*?)(\2)} do |match|
      a, b = $1 + $2, $3.to_s << $4

      case $3
      when %r{^[[:alpha:]][[:alnum:]\+\.\-]*://} # already absolute
        match

      when /^#/ # relative to this entry
        a + url + b

      else # relative to this blog
        a + BLOG.url + b
      end
    end
%>
  <item>
    <title><%=h entry.name.to_html %></title>
    <link><%= url %></link>
    <guid><%= url %></guid>
    <pubDate><%= entry.date.rfc822 %></pubDate>
    <description><%=h text %></description>

    <% entry.tags.each do |tag| %>
    <category><%=h tag.name %></category>
    <% end %>

    <% if BLOG.email %>
    <comments><%= entry.comment_url %></comments>
    <% end %>
  </item>
<% end %>
</channel>
</rss>
