<%
# = List of available variables
# * @blog       => data from the blog configuration file
# * @entries    => an array of all available blog entries
# * @tags       => a hash of the form: {name => array of entries}
# * @archives   => a hash of the form: {name => array of entries}
# * @chapters   => an array of objects like @tags and @archives
%>
<?xml version="1.0" encoding="<%= @blog.encoding %>"?>
<rss version="2.0">
<channel>
  <language><%=h @blog.language %></language>
  <title><%=h @blog.name %></title>
  <link><%= @blog.url %></link>
  <description><%=h @blog.info %></description>
  <lastBuildDate><%= DateTime.now.rfc822 %></lastBuildDate>
<%
  @entries.each do |entry|
    url = File.join @blog.url, u(entry.url)
%>
  <item>
    <title><%=h entry.name %></title>
    <link><%= url %></link>
    <guid><%= url %></guid>
    <pubDate><%= entry.date.rfc822 %></pubDate>
    <description><%=h entry.text.to_html %></description>
  <% entry.tags.each do |tag| %>
    <category><%=h tag %></category>
  <% end %>
  </item>
<% end %>
</channel>
</rss>
