<%
=begin
  This is a template for generating the RSS feed for the blog.

  The following variables are available for use in this template:
  * @blog       => data from the blog configuration file
  * @entries    => an array of all available blog entries
  * @tags       => a hash of the form: {name => array of entries}
  * @archives   => a hash of the form: {name => array of entries}
  * @chapters   => an array of objects like @tags and @archives
=end
%>
<?xml version="1.0" encoding="<%= @blog.encoding %>"?>
<rss version="2.0">
<channel>
  <title><%=h @blog.name %></title>
  <link><%= @blog.url %></link>
  <description><%=h @blog.info %></description>
  <language><%=h @blog.language %></language>
  <lastBuildDate><%= DateTime.now.rfc822 %></lastBuildDate>
  <generator>Rassmalog</generator>
<%
  @entries.each do |entry|
    url = File.join @blog.url, u(entry.url)
    html = entry.text.to_html

    # resolve relative URLs into absolute URLs
      html.gsub! %r{(href=|src=)(.)(.*?)(\2)} do |match|
        a, b = "#{$1}#{$2}", "#{$3}#{$4}"

        case $3
          when %r{^\w+://}
            match

          when /^#/ # relative to this entry
            a + url + b

          else # relative to this blog
            a + @blog.url + b
        end
      end
%>
  <item>
    <title><%=h entry.name %></title>
    <link><%= url %></link>
    <description><%=h html %></description>
    <pubDate><%= entry.date.rfc822 %></pubDate>
  <% entry.tags.each do |tag| %>
    <category><%=h tag %></category>
  <% end %>
    <guid><%= url %></guid>
  </item>
<% end %>
</channel>
</rss>
