<%
# = List of available variables
# * @blog       => data from the blog configuration file
# * @entries    => an array of all available blog entries
# * @tags       => a hash of the form: {name => array of entries}
# * @archives   => a hash of the form: {name => array of entries}
%>
<?xml version="1.0" encoding="<%= @blog.encoding %>"?>
<rss version="2.0">
<channel>
  <title><%= @blog.name %></title>
  <link><%= @blog.url %></link>
  <description><%= @blog.info %></description>
<%
  @entries.each do |entry|
    url = "#{@blog.url}/#{entry.url}"
%>
  <item>
    <title><%= entry.name %></title>
    <link><%= url %></link>
    <guid><%= url %></guid>
    <description><%= CGI.escapeHTML entry.text.to_html %></description>
    <pubDate><%= entry.rss_date %></pubDate>
  </item>
<% end %>
</channel>
</rss>
